<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Golf Game</title>
<!-- Import google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&display=swap" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>

<div class="play-area">
    <div class="top-section">
        <div class="hand top"></div>
    </div>
    <div class="middle-section">
        <div class="hand left"></div>
        <div class="deck-area">
            <div class="new-card-slot"></div>
            <div class="deck">
                <div class="card green"></div>
            </div>
            <div class="discard-pile"></div>
        </div>
        <div class="hand right"></div>
    </div>
    <div class="bottom-section">
        <div id="player-hand" class="hand">
            <div id="player-row-1" class="card-row"></div>
            <div id="player-row-2" class="card-row"></div>
        </div>

    </div>
</div>
</body>

<script src='./js/script.js' type="module">
</script>

<%- include ./partials/footer.ejs %>
